<app-header></app-header>
<div class="core-container">
  <div class="menu-bar">
    <div class="menu-container">
      <div class="menu-item">
        <a routerLink="boards"><i class="fa fa-thumb-tack"></i></a>
      </div>
      <div class="menu-item">
        <a routerLink="analitics"><i class="fa fa-bar-chart"></i></a>
      </div>
      <div class="menu-item">
        <a routerLink="practices"><i class="fa fa-book"></i></a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
