<app-header></app-header>
<div class="core-container">
  <div class="menu-bar">
    <div class="menu-container">
      <div class="menu-item">
        <i class="fa fa-thumb-tack"></i>
      </div>
      <div class="menu-item">
        <i class="fa fa-bar-chart"></i>
      </div>
      <div class="menu-item">
        <i class="fa fa-book"></i>
      </div>
    </div>
  </div>
  <div class="list-bar">
    <!-- There should be list view -->
  </div>
  <div class="main-bar">

    <!-- Just example -->
    <div class="card" style="width:100%">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <!-- Just example -->

  </div>
</div>
