<app-code-panel
  [isLoader]="loader$ | async"
  (contentChanged)="onContentChanged($event)"
  (submit)="onSubmit($event)"
  header="Task execution">
</app-code-panel>

<div *ngIf="successAlert$ | async" class="alert alert-dismissible alert-success">
  <strong>Well done!</strong> You successfully pass test
</div>

<div *ngIf="failAlert$ | async" class="alert alert-dismissible alert-danger">
  <strong>Oh snap!</strong> You fails
</div>

<!-- Usage example -->
<!-- <app-task-execution taskId="5cbc6ec31e1d4d140cadfd5e"></app-task-execution> -->